<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <!-- Nếu một button -->
      <!-- <form #formDangKy="ngForm" (ngSubmit)="DangKy(formDangKy.value)"> -->
      <!-- Nếu có 2 button -->
      <form #formDangNhap="ngForm">
        <div class="form-group">
          <label>Tài khoản</label>
          <input type="text" class="form-control" minlength="7" maxlength="15" #taiKhoan="ngModel" name="taiKhoan"
            ngModel required>
          <div *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)">
            <!-- Kiểm tra rổng -->
            <div *ngIf="taiKhoan.errors.required" class="alert alert-danger">
              Tài khoản không được bỏ trống
            </div>

            <!-- Kiểm tra độ dài -->
            <div *ngIf="taiKhoan.errors.minlength||taiKhoan.errors.maxlength" class="alert alert-danger">
              Độ tài phải từ 7 đến 15 kí tự
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Mật khẩu</label>
          <input type="password" class="form-control" name="matKhau" ngModel>
        </div>
        <button type="submit" class="btn btn-success" (click)="DangNhap(formDangNhap.value)">Đăng nhập</button>
        <button type="submit" class="btn btn-success">Hủy</button>
      </form>
    </div>
  </div>
</div>
